.dark {
    background-color: black;
    color: black;
}


.dark-mode-button {
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px black solid;
    background-color: white;
}

