.search-form {
    height: 100%;
    display: relative;
    border: 1px, solid #000;   
}

.search-input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

.search-button {
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid black;
    border-radius: 5px;
    font-size: small;
    margin-left: 5px;
    margin-top: 8px;
    background-color: white;

}

input[type="text"]{
    padding-left: 15px;
  }

.search-button:hover {
    background-color: #ff3c1e;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 1200px) {
    .search-input {
        width: 250px;
    }
}