.all-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.card-image {
    max-width: 160px;
    height: 160px;
    border-radius: 15px;
    object-fit: cover;
    margin: 25px 10px 10px 10px;
    border: 2px gray solid;
}
